@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
html{
  quotes: "“" "”";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body{
    background: #000;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    /* font-family: "Inter", sans-serif; */
    font-optical-sizing: auto;
    /* font-weight: 500; */
    /* font-style: normal; */
    /* overflow-x: hidden; */
}
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap');
body *:lang(zh){
  font-family: "LXGW WenKai Mono TC", monospace;
  font-weight: 400;
  font-style: normal;
}
body *{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.en{
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto !important;
  font-style: normal !important;
}
pre{
  margin: 0;
}
/*
:root {
  --foreground-rgb:255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb:  0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* :root {
  --r-localnav-height: calc(52px* var(--r-localnav-text-zoom-factor));
  --r-localnav-stacked-height: calc(66px* var(--r-localnav-text-zoom-factor));
  --r-localnav-gn-height: calc(var(--r-globalnav-height, 44px)* var(--r-localnav-text-zoom-factor));
  --r-localnav-viewport-large-min-width: viewport-get-property-for("ac-localnav:large", min-width);
  --r-localnav-viewport-large-query: min-width(1024px);
  --r-localnav-viewport-medium-min-width: viewport-get-property-for("ac-localnav:medium", min-width);
  --r-localnav-viewport-medium-max-width: viewport-get-property-for("ac-localnav:medium", max-width);
  --r-localnav-viewport-medium-query: min-width(834px);
  --r-localnav-viewport-small-min-width: viewport-get-property-for("ac-localnav:small", min-width);
  --r-localnav-viewport-small-max-width: viewport-get-property-for("ac-localnav:small", max-width);
  --r-localnav-viewport-small-query: min-width(320px);
  --r-localnav-text-zoom-factor: 1;
}
html:not(.aos) {
  --global-nav-collective-height: calc(var(--r-globalnav-height) + var(--global-nav-ad-bar-height));
}
@media (max-width: 833px) {
  :root {
      --r-localnav-height: calc(48px* var(--r-localnav-text-zoom-factor));
      --r-localnav-stacked-height: calc(63px* var(--r-localnav-text-zoom-factor));
      --r-localnav-gn-height: calc(var(--r-globalnav-height, 48px)* var(--r-localnav-text-zoom-factor));
  }
} */

