.home {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #222222;
  /* border:3px #fff solid; */
}

/* .meterfore{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%), url("/phone.png") ;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  @media (min-width: 1300px) {
    background-position: 50% calc(10vw);
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%), url("/phone.png") ;
  
  }
}
h1.meter {
  font-size:  25vw;
  font-stretch: extra-expanded;
  font-weight: 800;
  background-size: cover;
  margin-top: 10vh;
  padding-bottom: 10px;
  transform: scaleY(120%);
  background: -webkit-linear-gradient(bottom, rgba(0,67,116,0) 30%, rgba(255,255,255,0.8) 70.52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 
  .actionhome{
  position: absolute !important;
  margin-top: 35vh !important;
}
  */
.meterfore {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 1) 100%), url("/phone.png");
  background-repeat: no-repeat;
  background-position: 50% 0%;

  /* @media (min-width: 1300px) {
    background-position: 50% 0%; 
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 1) 50%), url("/phone.png");
    .meter {
    margin-top: calc(10vh + 3 vw) !important; 
    }
   } */
}

h1.meter {
  font-size: 25vw;
  /* font-stretch: extra-expanded; */
  font-weight: 800;
  /* background-size: cover; */
  margin-top: 15vh;
  /* padding-top: 10vh; */


  margin-bottom: calc(-1 * 25vw/3 + 3vh);
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (min-width: 1300px) {
    margin-top: 14vh;
    font-size: 300px;
    margin-bottom: calc(-2vh);
    /* -30px */
  }
}

h4 {
  position: absolute;
  margin-top: 88vh !important;
  color: #fff;
}






.container {
  margin-top: calc(25vw/3 + 10vh);
  width: 100%;
}

.detail * {
  background: transparent;
}

.detailchild {
  height: 105vh;
  h1{
    width: 100%;
  }
}

.detailchild:nth-child(odd) {
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 80%), url("/2.png") !important;
  /* Set a specific height */
  min-height: 500px;
  width: 90%;
  /* Create the parallax scrolling effect */
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: flex-end;

  h1 {
    text-align: end;
  }
}

.detailchild:nth-child(even) {
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 80%), url("/2.png") !important;
  /* Set a specific height */
  min-height: 500px;
  margin-left: 10%;
  width: 90%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: flex-start;

}









.scrollspec {
  overflow-y: hidden;
  height: 350px;
  white-space: nowrap;

}

.scrollspec * {
  display: inline-block;
  border-radius: 10px;
  background: #FFF;
  height: 300px;
  width: 500px;
  margin: 0 3%;
}




.footer {
  /* position: absolute; */
  /* bottom: 0; */
  /* width: 100%; */
  /* /* height: 2.5rem; */
}